#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  min-height: 100vh;
  
  /* iPhone dimensions */
  @media (max-width: 430px) {
    max-width: 430px;
    padding: 1rem;
  }
  
  /* iPad dimensions */
  @media (min-width: 768px) and (max-width: 1024px) {
    max-width: 1024px;
    padding: 2rem;
  }
  
  /* Desktop fallback */
  @media (min-width: 1025px) {
    max-width: 430px;
    padding: 1rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
